body {
        background-color:silver;
}
table {
        width: 100%;
}
th {
        padding: 10px;
}
table thead tr {
        background:#353535;
        height: 30px;
}
table thead th {
        border-right: 1px solid #ccc;
        color: #b2c831;
        font-size: 12px;
}
table thead th:last-of-type { border-right: none; }
table tbody {
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
}
table tr.odd { background-color: #fff; }
table tr.even { background-color: #f6f6f6; }
table td { padding: 8px 10px; border-right: 1px solid #ccc; }
table tbody tr:hover { background-color: #ddd; }
