<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
        <link href="{{ url_for('static', filename='table.css') }}" rel="stylesheet">
        <style>
               html {
                 position: relative;
                 min-height: 100%;
               }
               body {
                 margin-bottom: 60px;
               }

               .footer {
                 position: absolute;
                 bottom: 0;
                 width: 100%;
                 height: 40px;
                 line-height: 40px;
                 background-color: #f5f5f5;
                }
        </style>
    </head>    
<body>

    <div class="container">
    <div class="page-header"><h1 class="text-center">VM Revert</h1></div>        

{% if status %}
    <div class="row">

        <div class="col-md-10 col-md-offset-1">
            <div class="alert alert-{{ alerttype }} alert-dismissible fade in text-center" role="alert">{{ status }}</div>
        </div>

  </div>
{% endif %}

{{ content|safe }}
        
        </div>


    <footer class="footer">
      <div class="container">
        <span class="text-muted"><a href="https://github.com/OneLogicalMyth/VMRevert">OneLogicalMyth</a> - Copyright 2018</span>
      </div>
    </footer>



    </body>
    
    
</html>
